@using GenuinaBI.Resources.Shared
@{
    /* This partial controls the control side bar of the GenuinaBI and is called automatically by _GenuinaBILayout
    This is where you can add, modify, or remove side bar configuation menu options in your app*/
    Layout = null;
}
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Create the tabs -->
            <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
                <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
                <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <!-- Home tab content -->
                <div class="tab-pane active" id="control-sidebar-home-tab">
                    <form method="post">
                        <h4 class='control-sidebar-heading'>@UIConfigResources.UILayoutTitle</h4>
                        @*//Fixed layout
                        <div class='form-group'>
                            <label class='control-sidebar-subheading'>
                                <input type='checkbox' data-layout='fixed' class='pull-right' />@UIConfigResources.UILayoutFixed
                            </label>
                            <p>@UIConfigResources.UILayoutFixedInfo</p>
                        </div>*@
                        <!-- Boxed layout -->
                        <div class='form-group'>
                            <label class='control-sidebar-subheading'>
                                <input type='checkbox' data-layout='layout-boxed' class='pull-right' />@UIConfigResources.UILayoutBoxed
                            </label>
                            <p>@UIConfigResources.UILayoutBoxedInfo</p>
                        </div>
                        <!-- Sidebar Toggle -->
                        <div class='form-group'>
                            <label class='control-sidebar-subheading'>
                                <input type='checkbox' value='checked' data-layout='sidebar-collapse' class='pull-right' />@UIConfigResources.UILayoutToggleSidebar
                            </label>
                            <p>@UIConfigResources.UILayoutToggleSidebarInfo</p>
                        </div>
                         @*//Sidebar mini expand on hover toggle 
                        <div class='form-group'>
                            <label class='control-sidebar-subheading'>
                                <input type='checkbox' data-enable='expandOnHover' class='pull-right' />@UIConfigResources.UILayoutSidebarExpand
                            </label>
                            <p>@UIConfigResources.UILayoutSidebarExpandInfo</p>
                        </div>*@
                        <!-- Control Sidebar Toggle -->
                        <div class='form-group'>
                            <label class='control-sidebar-subheading'>
                                <input type='checkbox' data-controlsidebar='control-sidebar-open' class='pull-right' />@UIConfigResources.UILayoutToggleRightSidebar
                            </label>
                            <p>@UIConfigResources.UILayoutToggleRightSidebarInfo</p>
                        </div>
                        <!-- Control Sidebar Skin Toggle -->
                        <div class='form-group'>
                            <label class='control-sidebar-subheading'>
                                <input type='checkbox' data-sidebarskin='toggle' class='pull-right' />@UIConfigResources.UILayoutToggleRightSidebarSkin
                            </label>
                            <p>@UIConfigResources.UILayoutToggleRightSidebarSkin</p>
                        </div>
                    </form>
                </div>
                <!-- /.tab-pane -->
                <!-- Settings tab content -->
                <div class="tab-pane" id="control-sidebar-settings-tab">
                    <h4 class='control-sidebar-heading'>@UIConfigResources.UISkinTitle</h4>
                    <ul class="list-unstyled clearfix">
                        <li style="float:left; width: 33.33333%; padding: 5px;">
                            <a href="javascript:void(0);" data-skin="skin-blue" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover">
                                <div>
                                    <span style="display:block; width: 20%; float: left; height: 7px; background: #367fa9;"></span>
                                    <span class="bg-light-blue" style="display:block; width: 80%; float: left; height: 7px;"></span>
                                </div>
                                <div>
                                    <span style="display:block; width: 20%; float: left; height: 20px; background: #222d32;"></span>
                                    <span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"></span>
                                </div>
                            </a>
                            <p class="text-center no-margin">@UIConfigResources.UISkinBlue</p>
                        </li>
                        <li style="float:left; width: 33.33333%; padding: 5px;">
                            <a href="javascript:void(0);" data-skin="skin-black" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover">
                                <div style="box-shadow: 0 0 2px rgba(0,0,0,0.1)" class="clearfix">
                                    <span style="display:block; width: 20%; float: left; height: 7px; background: #fefefe;"></span>
                                    <span style="display:block; width: 80%; float: left; height: 7px; background: #fefefe;"></span>
                                </div>
                                <div>
                                    <span style="display:block; width: 20%; float: left; height: 20px; background: #222;"></span>
                                    <span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"></span>
                                </div>
                            </a>
                            <p class="text-center no-margin">@UIConfigResources.UISkinBlack</p>
                        </li>
                        <li style="float:left; width: 33.33333%; padding: 5px;">
                            <a href="javascript:void(0);" data-skin="skin-purple" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover">
                                <div>
                                    <span style="display:block; width: 20%; float: left; height: 7px;" class="bg-purple-active"></span>
                                    <span class="bg-purple" style="display:block; width: 80%; float: left; height: 7px;"></span>
                                </div>
                                <div>
                                    <span style="display:block; width: 20%; float: left; height: 20px; background: #222d32;"></span>
                                    <span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"></span>
                                </div>
                            </a>
                            <p class="text-center no-margin">@UIConfigResources.UISkinPurple</p>
                        </li>
                        <li style="float:left; width: 33.33333%; padding: 5px;">
                            <a href="javascript:void(0);" data-skin="skin-green" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover">
                                <div>
                                    <span style="display:block; width: 20%; float: left; height: 7px;" class="bg-green-active"></span>
                                    <span class="bg-green" style="display:block; width: 80%; float: left; height: 7px;"></span>
                                </div>
                                <div>
                                    <span style="display:block; width: 20%; float: left; height: 20px; background: #222d32;"></span>
                                    <span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"></span>
                                </div>
                            </a>
                            <p class="text-center no-margin">@UIConfigResources.UISkinGreen</p>
                        </li>
                        <li style="float:left; width: 33.33333%; padding: 5px;">
                            <a href="javascript:void(0);" data-skin="skin-red" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover">
                                <div>
                                    <span style="display:block; width: 20%; float: left; height: 7px;" class="bg-red-active"></span>
                                    <span class="bg-red" style="display:block; width: 80%; float: left; height: 7px;"></span>
                                </div>
                                <div>
                                    <span style="display:block; width: 20%; float: left; height: 20px; background: #222d32;"></span>
                                    <span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"></span>
                                </div>
                            </a>
                            <p class="text-center no-margin">@UIConfigResources.UISkinRed</p>
                        </li>
                        <li style="float:left; width: 33.33333%; padding: 5px;">
                            <a href="javascript:void(0);" data-skin="skin-yellow" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover">
                                <div>
                                    <span style="display:block; width: 20%; float: left; height: 7px;" class="bg-yellow-active"></span>
                                    <span class="bg-yellow" style="display:block; width: 80%; float: left; height: 7px;"></span>
                                </div>
                                <div>
                                    <span style="display:block; width: 20%; float: left; height: 20px; background: #222d32;"></span>
                                    <span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"></span>
                                </div>
                            </a>
                            <p class="text-center no-margin">@UIConfigResources.UISkinYellow</p>
                        </li>
                        <li style="float:left; width: 33.33333%; padding: 5px;">
                            <a href="javascript:void(0);" data-skin="skin-blue-light" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover">
                                <div>
                                    <span style="display:block; width: 20%; float: left; height: 7px; background: #367fa9;"></span>
                                    <span class="bg-light-blue" style="display:block; width: 80%; float: left; height: 7px;"></span>
                                </div>
                                <div>
                                    <span style="display:block; width: 20%; float: left; height: 20px; background: #f9fafc;"></span>
                                    <span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"></span>
                                </div>
                            </a>
                            <p class="text-center no-margin" style="font-size: 12px">@UIConfigResources.UISkinBlueLight</p>
                        </li>
                        <li style="float:left; width: 33.33333%; padding: 5px;">
                            <a href="javascript:void(0);" data-skin="skin-black-light" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover">
                                <div style="box-shadow: 0 0 2px rgba(0,0,0,0.1)" class="clearfix">
                                    <span style="display:block; width: 20%; float: left; height: 7px; background: #fefefe;"></span>
                                    <span style="display:block; width: 80%; float: left; height: 7px; background: #fefefe;"></span>
                                </div>
                                <div>
                                    <span style="display:block; width: 20%; float: left; height: 20px; background: #f9fafc;"></span>
                                    <span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"></span>
                                </div>
                            </a>
                            <p class="text-center no-margin" style="font-size: 12px">@UIConfigResources.UISkinBlackLight</p>
                        </li>
                        <li style="float:left; width: 33.33333%; padding: 5px;">
                            <a href="javascript:void(0);" data-skin="skin-purple-light" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover">
                                <div>
                                    <span style="display:block; width: 20%; float: left; height: 7px;" class="bg-purple-active"></span>
                                    <span class="bg-purple" style="display:block; width: 80%; float: left; height: 7px;"></span>
                                </div>
                                <div>
                                    <span style="display:block; width: 20%; float: left; height: 20px; background: #f9fafc;"></span>
                                    <span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"></span>
                                </div>
                            </a>
                            <p class="text-center no-margin" style="font-size: 12px">@UIConfigResources.UISkinPurpleLight</p>
                        </li>
                        <li style="float:left; width: 33.33333%; padding: 5px;">
                            <a href="javascript:void(0);" data-skin="skin-green-light" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover">
                                <div>
                                    <span style="display:block; width: 20%; float: left; height: 7px;" class="bg-green-active"></span>
                                    <span class="bg-green" style="display:block; width: 80%; float: left; height: 7px;"></span>
                                </div>
                                <div>
                                    <span style="display:block; width: 20%; float: left; height: 20px; background: #f9fafc;"></span>
                                    <span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"></span>
                                </div>
                            </a>
                            <p class="text-center no-margin" style="font-size: 12px">@UIConfigResources.UISkinGreenLight</p>
                        </li>
                        <li style="float:left; width: 33.33333%; padding: 5px;">
                            <a href="javascript:void(0);" data-skin="skin-red-light" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover">
                                <div>
                                    <span style="display:block; width: 20%; float: left; height: 7px;" class="bg-red-active"></span>
                                    <span class="bg-red" style="display:block; width: 80%; float: left; height: 7px;"></span>
                                </div>
                                <div>
                                    <span style="display:block; width: 20%; float: left; height: 20px; background: #f9fafc;"></span>
                                    <span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"></span>
                                </div>
                            </a>
                            <p class="text-center no-margin" style="font-size: 12px">@UIConfigResources.UISkinRedLight</p>
                        </li>
                        <li style="float:left; width: 33.33333%; padding: 5px;">
                            <a href="javascript:void(0);" data-skin="skin-yellow-light" style="display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)" class="clearfix full-opacity-hover">
                                <div>
                                    <span style="display:block; width: 20%; float: left; height: 7px;" class="bg-yellow-active"></span>
                                    <span class="bg-yellow" style="display:block; width: 80%; float: left; height: 7px;"></span>
                                </div>
                                <div>
                                    <span style="display:block; width: 20%; float: left; height: 20px; background: #f9fafc;"></span>
                                    <span style="display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"></span>
                                </div>
                            </a>
                            <p class="text-center no-margin" style="font-size: 12px;">@UIConfigResources.UISkinYellowLight</p>
                        </li>
                    </ul>
                </div>
                <!-- /.tab-pane -->
            </div>
        </aside>